body {
    background: #e99dfa;
    color: #f76ff0;
    padding :10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#all-contents {
    max-width: 800px;
    margin: auto;
}
/* navigation menu */
nav{
    background:#fad2f8;
    margin:0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display:flex;
    align-items: center;
    color:#ff78df;
    flex:1;
    margin :0;
}

#nav-ul {
    list-style-type:none;
    margin:0;
    padding: 0;
    display: flex;
}
.nav-li {
    display:inline-block;
    padding: 0 10px;
}
a{
    text-decoration: underline;
    color: #fa05c0;
}
main {
    background: #fad2f8;
    display: flex;
    margin-top: 20px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.contet {
    flex: 1;
    padding:  15px;
}
/* interests section style */
#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px;
    width: 500px;
}
h2, h3 {
    margin:0px;
}